# Server
PORT=4000
NODE_ENV=development

# MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=secret
DB_NAME=pasifik_db

# JWT
JWT_ACCESS_SECRET=change_me_access_secret_32chars_min
JWT_REFRESH_SECRET=change_me_refresh_secret_32chars_min
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# Upload
UPLOAD_DIR=src/uploads
MAX_FILE_SIZE_MB=5